In [8]:
import pandas as pd

# 示例数据
df = pd.DataFrame({
    'id': [1, 2, 3],
    'email': ['a@b.com', 'c@d.com', 'a@b.com']
})

# 找重复 email
dup_email = df[df['email'].duplicated(keep=False)]['email'].drop_duplicates()

# 转成 DataFrame，并改列名
res = pd.DataFrame(dup_email, columns=['Email'])

print(res)

Empty DataFrame
Columns: [Email]
Index: []

In [21]:
import pandas as pd

def find_customers(customers: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    
    no_orders = customers[~customers['id'].isin(orders['customerId'])]['name'].to_frame(name='Customers')
    print(no_orders)
    return no_orders
customers = pd.DataFrame({
        'id': [1, 2, 3, 4],
        'name': ['Joe', 'Henry', 'Sam', 'Max']
    })
    # Orders 表
orders = pd.DataFrame({
        'id': [1, 2],
        'customerId': [3, 1]
    })
find_customers(customers, orders)

  Customers
1     Henry
3       Max

  Customers
1     Henry
3       Max

In [20]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'int64', 'name':'object'})
data = [[1, 3], [2, 1]]
orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'int64', 'customerId':'int64'})
customers
orders
#customers['id'].isin(orders['customerId'])
customers.loc[customers['id'].isin(orders['customerId']), ['name']].rename(columns={'name':'Customers'})

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max

   id  customerId
0   1           3
1   2           1

  Customers
0       Joe
2       Sam