In [1]:
# Series使用apply()函数
# 实现对player数据集的球员名player_name字段值转大写
# df.player_name.str.upper()
# df.player_name.apply(lambda name:name.upper())
# def fun(name):
#    return name.upper()
# df.player_name.apply(fun)
import pandas as pd
import numpy as np
df = pd.read_csv('../data/player.csv')
# 升级：第一个单词大写,第二个单词小写,第三个再大写...
df.loc[df.index==11059, 'player_name'] = 'Zvje zdan Misi movic'

def fun2(name: str) -> str:
    list1 = name.split()
    s = ''
    for i in range(0, len(list1)):
        if i % 2 == 0:  # 偶数索引（第1、3、5...个单词）
            s += list1[i].upper() + ' '
        else:  # 奇数索引（第2、4、6...个单词）
            s += list1[i].lower() + ' '
    return s.rstrip()  # 去除末尾空格

df.player_name.apply(fun2)

0          AARON appindangoye
1             AARON cresswell
2                 AARON doran
3               AARON galindo
4                AARON hughes
                 ...
11055          ZOUMANA camara
11056            ZSOLT laczko
11057               ZSOLT low
11058     ZURAB khizanishvili
11059    ZVJE zdan MISI movic
Name: player_name, Length: 11060, dtype: object

In [2]:
def fun(row) -> str:
    return str(row['player_api_id']) + row['player_name']

df.apply(fun, axis=1)  # 每次传一行数据

0         505942Aaron Appindangoye
1            155782Aaron Cresswell
2                162549Aaron Doran
3               30572Aaron Galindo
4                23780Aaron Hughes
                   ...
11055          26357Zoumana Camara
11056           111182Zsolt Laczko
11057               36491Zsolt Low
11058     35506Zurab Khizanishvili
11059    39902Zvje zdan Misi movic
Length: 11060, dtype: object

In [3]:
df.apply(lambda row: str(row['player_api_id']) + row['player_name'], axis=1)

0         505942Aaron Appindangoye
1            155782Aaron Cresswell
2                162549Aaron Doran
3               30572Aaron Galindo
4                23780Aaron Hughes
                   ...
11055          26357Zoumana Camara
11056           111182Zsolt Laczko
11057               36491Zsolt Low
11058     35506Zurab Khizanishvili
11059    39902Zvje zdan Misi movic
Length: 11060, dtype: object

In [ ]:
# DataFrame的apply函数传入列的应用
# 实现修改所有数据列的类型为object
def fun(col: pd.Series) -> pd.Series:
    return col.astype('O')  # 修正：'O' 不是 '0'，表示object类型
# 方法1：使用自定义函数
df.apply(fun).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060 entries, 0 to 11059
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_api_id  11060 non-null  object
 1   player_name    11060 non-null  object
 2   birthday       11060 non-null  object
 3   height         11060 non-null  object
 4   weight         11060 non-null  object
dtypes: object(5)
memory usage: 432.2+ KB

In [5]:
# 方法2：使用Lambda表达式（修正语法错误）
df.apply(lambda col: col.astype('O')).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060 entries, 0 to 11059
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_api_id  11060 non-null  object
 1   player_name    11060 non-null  object
 2   birthday       11060 non-null  object
 3   height         11060 non-null  object
 4   weight         11060 non-null  object
dtypes: object(5)
memory usage: 432.2+ KB