In [1]:
import pandas as pd

In [10]:
df=pd.read_csv('player.csv',index_col=0)
df.head()

                      player_name             birthday  height  weight
player_api_id
505942         Aaron Appindangoye  1992-02-29 00:00:00  182.88     187
155782            Aaron Cresswell  1989-12-15 00:00:00  170.18     146
162549                Aaron Doran  1991-05-13 00:00:00  170.18     163
30572               Aaron Galindo  1982-05-08 00:00:00  182.88     198
23780                Aaron Hughes  1979-11-08 00:00:00  182.88     154

In [11]:
df2=pd.Series(df.height.mean().round(2)).rename('平均').to_frame().assign(
    中位数=df.height.median(),
    最大=df.height.max(),
    最小=df.height.min(),
    求和=df.height.sum(),
    计数=df.height.count()
).T.rename(columns={0:'身高'})
df2

             身高
平均       181.87
中位数      182.88
最大       208.28
最小       157.48
求和   2011453.94
计数     11060.00

In [12]:
# Series方式
df.height.corr(df.weight)

# DataFrame方式
df[['height','weight']].corr()

0.7666258504097695

          height    weight
height  1.000000  0.766626
weight  0.766626  1.000000

In [13]:
df[['height','weight']].mean()

height    181.867445
weight    168.380289
dtype: float64

In [14]:
df[df.height>df.height.mean()]

                       player_name             birthday  height  weight
player_api_id
505942          Aaron Appindangoye  1992-02-29 00:00:00  182.88     187
30572                Aaron Galindo  1982-05-08 00:00:00  182.88     198
23780                 Aaron Hughes  1979-11-08 00:00:00  182.88     154
27316                   Aaron Hunt  1986-09-04 00:00:00  182.88     161
528212                Aaron Lennox  1993-02-19 00:00:00  190.50     181
...                            ...                  ...     ...     ...
56929               Zoran Rendulic  1984-05-22 00:00:00  190.50     179
282473              Zouhair Feddal  1989-01-01 00:00:00  190.50     172
26357               Zoumana Camara  1979-04-03 00:00:00  182.88     168
111182                Zsolt Laczko  1986-12-18 00:00:00  182.88     176
35506          Zurab Khizanishvili  1981-10-06 00:00:00  185.42     172

[5870 rows x 4 columns]

In [15]:
df.height=df.height.round(1)