In [3]:
import numpy as np
import pandas as pd

In [10]:
s1=pd.Series([i for i in range(1,7)],index=[chr(i+96) for i in range(1,7)])
s1
s2=pd.Series([i*10 for i in range(1,7)],index=[chr(i) for i in range(98,104)])
s2
s1.add(s2)
s1.sub(s2)
s1.mul(s2)
s1.div(s2)
#实现对无法匹配的值进行填充,填充完再计算,如果有nan,整数结果会自动转换为浮点数
a=s1.add(s2,fill_value=0)
s1.sub(s2,fill_value=0)
s1.mul(s2,fill_value=0).astype('int')#字符串写法更安全、通用性更高
s1.div(s2,fill_value=0)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

b    10
c    20
d    30
e    40
f    50
g    60
dtype: int64

a     NaN
b    12.0
c    23.0
d    34.0
e    45.0
f    56.0
g     NaN
dtype: float64

a     NaN
b    -8.0
c   -17.0
d   -26.0
e   -35.0
f   -44.0
g     NaN
dtype: float64

a      NaN
b     20.0
c     60.0
d    120.0
e    200.0
f    300.0
g      NaN
dtype: float64

a         NaN
b    0.200000
c    0.150000
d    0.133333
e    0.125000
f    0.120000
g         NaN
dtype: float64

a     1.0
b    -8.0
c   -17.0
d   -26.0
e   -35.0
f   -44.0
g   -60.0
dtype: float64

a      0
b     20
c     60
d    120
e    200
f    300
g      0
dtype: int32

a         inf
b    0.200000
c    0.150000
d    0.133333
e    0.125000
f    0.120000
g    0.000000
dtype: float64

In [12]:
a.isnull()
a.notnull()

a    False
b    False
c    False
d    False
e    False
f    False
g    False
dtype: bool

a    True
b    True
c    True
d    True
e    True
f    True
g    True
dtype: bool

In [ ]:
s3=pd.Series(np.random.randint(0,100,size=5))
s3
s3.sum()
s3.mean()
s3.median()
s3.mode() #众数,如果有多个众数,返回所有众数
s3.describe()

0     2
1    11
2    47
3    14
4    77
dtype: int32

151

30.2

14.0

0     2
1    11
2    14
3    47
4    77
dtype: int32

count     5.000000
mean     30.200000
std      31.220186
min       2.000000
25%      11.000000
50%      14.000000
75%      47.000000
max      77.000000
dtype: float64

In [15]:
#求小于50的元素的个数
s1[s1<50].size
(s1<50).sum()
s1[s1<50].count()

6

6

6

In [16]:
#计算空值的个数
s2 = pd.Series([np.NaN,'a','b'])
s2
s2.size
s2.isnull().sum()
s2.isna().sum() #isna（）和isnull（)一样,notnull（）和notna（）一样

0    NaN
1      a
2      b
dtype: object

3

1

1

In [19]:
#repLace（）替换函数
s1=pd.Series(['abc我','bc爱','123你'])
s1
#把非中文替换为空[\u4e0θ－\u9fa5]这是中文的范围
s1.str.replace('[^\u4e00-\u9fa5]','',regex=True)#regex=True表示使用正则表达式
#只要数字
s1.str.replace('[^0-9]+','',regex=True)
#只要英文
s1.str.replace('[^a-zA-Z]+','',regex=True)

0    abc我
1     bc爱
2    123你
dtype: object

0    我
1    爱
2    你
dtype: object

0
1
2    123
dtype: object

0    abc
1     bc
2
dtype: object

In [21]:
s1.str.count('c')
s1.str.count('c').sum()
s1.str.count('c').values.sum()
sum(s1.str.count('c'))

0    1
1    1
2    0
dtype: int64

2

2

2

In [22]:
s1.str.contains('c')

0     True
1     True
2    False
dtype: bool

In [24]:

#split（）分割函数
s = pd.Series(['aa我bb和cc你','你a和c','123她abc'])
#按非中文分割
s.str.split('[^\u4e00-\u9fa5]+',regex=True)

0    [, 我, 和, 你]
1       [你, 和, ]
2        [, 她, ]
dtype: object

In [1]:
# 检查 numpy
try:
    import numpy as np
    print(f"✅ numpy 已安装，版本: {np.__version__}")
except ImportError:
    print("❌ numpy 未安装")

# 检查 pandas
try:
    import pandas as pd
    print(f"✅ pandas 已安装，版本: {pd.__version__}")
except ImportError:
    print("❌ pandas 未安装")

# 检查 seaborn
try:
    import seaborn as sns
    print(f"✅ seaborn 已安装，版本: {sns.__version__}")
except ImportError:
    print("❌ seaborn 未安装")

# 检查 matplotlib
try:
    import matplotlib
    print(f"✅ matplotlib 已安装，版本: {matplotlib.__version__}")
except ImportError:
    print("❌ matplotlib 未安装")

✅ numpy 已安装，版本: 1.26.2
✅ pandas 已安装，版本: 2.2.2
✅ seaborn 已安装，版本: 0.13.2
✅ matplotlib 已安装，版本: 3.9.0