In [2]:
import pandas as pd

In [3]:
pd.read_csv('player.csv')

       player_api_id          player_name             birthday  height  weight
0             505942   Aaron Appindangoye  1992-02-29 00:00:00  182.88     187
1             155782      Aaron Cresswell  1989-12-15 00:00:00  170.18     146
2             162549          Aaron Doran  1991-05-13 00:00:00  170.18     163
3              30572        Aaron Galindo  1982-05-08 00:00:00  182.88     198
4              23780         Aaron Hughes  1979-11-08 00:00:00  182.88     154
...              ...                  ...                  ...     ...     ...
11055          26357       Zoumana Camara  1979-04-03 00:00:00  182.88     168
11056         111182         Zsolt Laczko  1986-12-18 00:00:00  182.88     176
11057          36491            Zsolt Low  1979-04-29 00:00:00  180.34     154
11058          35506  Zurab Khizanishvili  1981-10-06 00:00:00  185.42     172
11059          39902   Zvjezdan Misimovic  1982-06-05 00:00:00  180.34     176

[11060 rows x 5 columns]

In [5]:
df=pd.read_csv('player.csv',index_col='player_api_id')
df
df=pd.read_csv('player.csv',index_col=0)
df

                       player_name             birthday  height  weight
player_api_id
505942          Aaron Appindangoye  1992-02-29 00:00:00  182.88     187
155782             Aaron Cresswell  1989-12-15 00:00:00  170.18     146
162549                 Aaron Doran  1991-05-13 00:00:00  170.18     163
30572                Aaron Galindo  1982-05-08 00:00:00  182.88     198
23780                 Aaron Hughes  1979-11-08 00:00:00  182.88     154
...                            ...                  ...     ...     ...
26357               Zoumana Camara  1979-04-03 00:00:00  182.88     168
111182                Zsolt Laczko  1986-12-18 00:00:00  182.88     176
36491                    Zsolt Low  1979-04-29 00:00:00  180.34     154
35506          Zurab Khizanishvili  1981-10-06 00:00:00  185.42     172
39902           Zvjezdan Misimovic  1982-06-05 00:00:00  180.34     176

[11060 rows x 4 columns]

                       player_name             birthday  height  weight
player_api_id
505942          Aaron Appindangoye  1992-02-29 00:00:00  182.88     187
155782             Aaron Cresswell  1989-12-15 00:00:00  170.18     146
162549                 Aaron Doran  1991-05-13 00:00:00  170.18     163
30572                Aaron Galindo  1982-05-08 00:00:00  182.88     198
23780                 Aaron Hughes  1979-11-08 00:00:00  182.88     154
...                            ...                  ...     ...     ...
26357               Zoumana Camara  1979-04-03 00:00:00  182.88     168
111182                Zsolt Laczko  1986-12-18 00:00:00  182.88     176
36491                    Zsolt Low  1979-04-29 00:00:00  180.34     154
35506          Zurab Khizanishvili  1981-10-06 00:00:00  185.42     172
39902           Zvjezdan Misimovic  1982-06-05 00:00:00  180.34     176

[11060 rows x 4 columns]

In [ ]:
pd.read_csv('player.csv',index_col=0,usecols=[1])#ËøôËØ¥ÊòéÁ¨¨0ÂàóÊòØÁ¥¢Âºï,Á¨¨1ÂàóÊòØÊï∞ÊçÆ,ÁÑ∂ËÄåÁî±‰∫éÊ≤°Êúâ‰ΩøÁî®0Âàó,ÊâÄ‰ª•0ÂàóË¢´ÁúÅÁï•‰∫Ü

Empty DataFrame
Columns: []
Index: [Aaron Appindangoye, Aaron Cresswell, Aaron Doran, Aaron Galindo, Aaron Hughes, Aaron Hunt, Aaron Kuhl, Aaron Lennon, Aaron Lennox, Aaron Meijers, Aaron Mokoena, Aaron Mooy, Aaron Muirhead, Aaron Niguez, Aaron Ramsey, Aaron Splaine, Aaron Taylor-Sinclair, Aaron Wilbraham, Aatif Chahechouhe, Abasse Ba, Abdelaziz Barrada, Abdelfettah Boukhriss, Abdelhamid El Kaoutari, Abdelkader Ghezzal, Abdellah Zoubir, Abdelmajid Oulmers, Abdelmalek Cherrad, Abdelmalek El Hasnaoui, Abdelouahed Chakhsi, Abderrazak Jadid, Abdeslam Ouaddou, Abdessalam Benjelloun, Abdou Diallo, Abdou Traore, Abdoul Ba, Abdoul Karim Yoda, Abdoul Razzagui Camara, Abdoulay Konko, Abdoulaye Ba, Abdoulaye Bamba, Abdoulaye Diaby, Abdoulaye Diallo Sadio,22, Abdoulaye Diallo, Abdoulaye Doucoure, Abdoulaye Faye, Abdoulaye Keita, Abdoulaye Meite, Abdoulaye Toure, Abdoulwahid Sissoko, Abdourahman Dampha, Abdul Aziz Tetteh, Abdul Majeed Waris, Abdul Osman, Abdul Rahman Baba, Abdul-Yakinu Iddi, Abdulkader Keita, Abdulla Fatadi, Abdullah Al Hafith, Abdullah Omar, Abdullahi Shehu, Abel Aguilar, Abel Gomez, Abel Hernandez, Abel Issa Camara, Abel Khaled, Abel Tamata, Abel, Abella Perez Damia, Abiola Dauda, Abou Diaby, Aboubacar Tandia, Aboubakar Kamara, Aboubakar Oumarou, Abraham Gonzalez, Abraham Guie Gneki, Abraham Kudemor, Abraham Minero, Abraham Paz Cruz, Achille Coser, Achille Emana, Achille Vaarnold, Achmed Ahahaoui, Achraf Lazaar, Aco Stojkov, Adailton, Adailton, Adalberto Penaranda, Adam Armstrong, Adam Banas, Adam Bodzek, Adam Bogdan, Adam Brown, Adam Buksa, Adam Campbell, Adam Collin, Adam Cummins, Adam Danch, Adam Deja, Adam Drury, Adam Drury, ...]

[11060 rows x 0 columns]

In [1]:
import importlib
import subprocess
import sys

package_name = "openpyxl"

try:
    importlib.import_module(package_name)
    print(f"‚úÖ '{package_name}' Â∑≤ÂÆâË£ÖÔºÅ")
except ImportError:
    print(f"‚öôÔ∏è Êú™Ê£ÄÊµãÂà∞ '{package_name}'ÔºåÊ≠£Âú®Ëá™Âä®ÂÆâË£Ö...")
    subprocess.check_call([sys.executable, "-m", "pip", "install", package_name])
    print(f"‚úÖ '{package_name}' ÂÆâË£ÖÂÆåÊàêÔºÅ")

‚öôÔ∏è Êú™Ê£ÄÊµãÂà∞ 'openpyxl'ÔºåÊ≠£Âú®Ëá™Âä®ÂÆâË£Ö...

0

‚úÖ 'openpyxl' ÂÆâË£ÖÂÆåÊàêÔºÅ

In [2]:
import openpyxl
print(openpyxl.__version__)

3.1.5

In [21]:
pd.read_excel('player.xlsx',index_col=[0],usecols=[1,2])

                             birthday
player_name
ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©2Âè∑          2009-01-01 09:27:21
ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©1Âè∑          2009-01-01 09:26:47
Patryk Rachwal,18 1981-01-27 00:00:00
Diego Mainz       1982-12-29 00:00:00
Jose Dorado       1982-07-10 00:00:00
...                               ...
Charles Pickel    1997-05-15 00:00:00
Greg Taylor       1997-11-05 00:00:00
Francisco Afonso  1997-04-24 00:00:00
Fynn Arkenberg    1996-03-04 00:00:00
Rees Greenwood    1996-01-20 00:00:00

[11061 rows x 1 columns]

In [3]:
import importlib
import subprocess
import sys

package_name = "xlwt"

try:
    # Â∞ùËØïÂØºÂÖ• xlwt
    importlib.import_module(package_name)
    print(f"‚úÖ '{package_name}' Â∑≤ÂÆâË£ÖÂπ∂ÂèØÊ≠£Â∏∏‰ΩøÁî®ÔºÅ")
except ImportError:
    # Â¶ÇÊûúÊ≤°ÂÆâË£ÖÂàôËá™Âä®ÂÆâË£Ö
    print(f"‚öôÔ∏è Êú™Ê£ÄÊµãÂà∞ '{package_name}'ÔºåÊ≠£Âú®ÂÆâË£Ö‰∏≠...")
    subprocess.check_call([sys.executable, "-m", "pip", "install", package_name])
    print(f"‚úÖ '{package_name}' ÂÆâË£ÖÂÆåÊàêÔºÅ")

# ÂØºÂÖ•Ê®°ÂùóÂπ∂ÊµãËØï
import xlwt

# ÂàõÂª∫‰∏Ä‰∏™ÁÆÄÂçïÁöÑ Excel Êñá‰ª∂
workbook = xlwt.Workbook()
sheet = workbook.add_sheet("Á§∫‰æãSheet")

# ÂÜôÂÖ•Êï∞ÊçÆ
sheet.write(0, 0, "ÂßìÂêç")
sheet.write(0, 1, "Âπ¥ÈæÑ")
sheet.write(1, 0, "Gump")
sheet.write(1, 1, 18)

# ‰øùÂ≠òÊñá‰ª∂
workbook.save("Á§∫‰æãËæìÂá∫.xls")
print("üìÅ Êñá‰ª∂ 'Á§∫‰æãËæìÂá∫.xls' Â∑≤ÁîüÊàêÔºÅ")

‚öôÔ∏è Êú™Ê£ÄÊµãÂà∞ 'xlwt'ÔºåÊ≠£Âú®ÂÆâË£Ö‰∏≠...

0

‚úÖ 'xlwt' ÂÆâË£ÖÂÆåÊàêÔºÅ
üìÅ Êñá‰ª∂ 'Á§∫‰æãËæìÂá∫.xls' Â∑≤ÁîüÊàêÔºÅ

In [15]:
df=pd.read_excel('player.xlsx',index_col=0,usecols=[0,1,2])
df
df.to_excel('player2.xlsx')

                     player_name            birthday
player_api_id
-2                      ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©2Âè∑ 2009-01-01 09:27:21
-1                      ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©1Âè∑ 2009-01-01 09:26:47
 2625          Patryk Rachwal,18 1981-01-27 00:00:00
 2752                Diego Mainz 1982-12-29 00:00:00
 2768                Jose Dorado 1982-07-10 00:00:00
...                          ...                 ...
 743720           Charles Pickel 1997-05-15 00:00:00
 744907              Greg Taylor 1997-11-05 00:00:00
 746419         Francisco Afonso 1997-04-24 00:00:00
 748432           Fynn Arkenberg 1996-03-04 00:00:00
 750435           Rees Greenwood 1996-01-20 00:00:00

[11061 rows x 2 columns]

In [25]:
df.dtypes
df=df.astype({'player_name':'string'})
df.dtypes

player_name            object
birthday       datetime64[ns]
dtype: object

player_name            string
birthday       datetime64[ns]
dtype: object

In [26]:
df.index
df.columns

Int64Index([    -2,     -1,   2625,   2752,   2768,   2770,   2790,   2796,
              2802,   2805,
            ...
            728414, 728478, 730065, 733787, 742405, 743720, 744907, 746419,
            748432, 750435],
           dtype='int64', name='player_api_id', length=11061)

Index(['player_name', 'birthday'], dtype='object')

In [28]:
df.columns=['ÁêÉÂëòÁºñÂè∑','ÁêÉÂëòÂßìÂêç','Âá∫ÁîüÊó•Êúü']
df

ValueError: Length mismatch: Expected axis has 2 elements, new values have 3 elements

In [36]:
df=pd.read_excel('player.xlsx',usecols=[0,1,2,3,4])
df
pd.set_option('display.max_columns',4)
df
pd.set_option('display.max_rows',10)
df

    player_api_id player_name  ... height  weight
0              -2    ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©2Âè∑  ...    NaN     NaN
..            ...         ...  ...    ...     ...

[11061 rows x 5 columns]

    player_api_id player_name  ... height  weight
0              -2    ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©2Âè∑  ...    NaN     NaN
..            ...         ...  ...    ...     ...

[11061 rows x 5 columns]

       player_api_id        player_name  ...  height  weight
0                 -2           ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©2Âè∑  ...     NaN     NaN
1                 -1           ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©1Âè∑  ...     NaN     NaN
2               2625  Patryk Rachwal,18  ...  175.26   154.0
3               2752        Diego Mainz  ...  187.96   174.0
4               2768        Jose Dorado  ...  180.34   154.0
...              ...                ...  ...     ...     ...
11056         743720     Charles Pickel  ...  185.42   176.0
11057         744907        Greg Taylor  ...  172.72   137.0
11058         746419   Francisco Afonso  ...  175.26   152.0
11059         748432     Fynn Arkenberg  ...  187.96   176.0
11060         750435     Rees Greenwood  ...  172.72   150.0

[11061 rows x 5 columns]

In [42]:
df[['player_name','player_api_id']]
df.player_name
df.columns

             player_name  player_api_id
0               ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©2Âè∑             -2
1               ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©1Âè∑             -1
2      Patryk Rachwal,18           2625
3            Diego Mainz           2752
4            Jose Dorado           2768
...                  ...            ...
11056     Charles Pickel         743720
11057        Greg Taylor         744907
11058   Francisco Afonso         746419
11059     Fynn Arkenberg         748432
11060     Rees Greenwood         750435

[11061 rows x 2 columns]

0                 ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©2Âè∑
1                 ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©1Âè∑
2        Patryk Rachwal,18
3              Diego Mainz
4              Jose Dorado
               ...
11056       Charles Pickel
11057          Greg Taylor
11058     Francisco Afonso
11059       Fynn Arkenberg
11060       Rees Greenwood
Name: player_name, Length: 11061, dtype: object

Index(['player_api_id', 'player_name', 'birthday', 'height', 'weight'], dtype='object')

In [50]:
df.head()
df.weight=df.weight+1

   player_api_id        player_name  ...  height  weight
0             -2           ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©2Âè∑  ...     NaN     NaN
1             -1           ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©1Âè∑  ...     NaN     NaN
2           2625  Patryk Rachwal,18  ...  175.26   160.0
3           2752        Diego Mainz  ...  187.96   180.0
4           2768        Jose Dorado  ...  180.34   160.0

[5 rows x 5 columns]

In [62]:
df['age']=18
df
df=df.assign(age2=df.age+1)
df=df.assign(age3=df.age2+2)
df

       player_api_id        player_name  ... age2  age3
0                 -2           ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©2Âè∑  ...   19    21
1                 -1           ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©1Âè∑  ...   19    21
2               2625  Patryk Rachwal,18  ...   19    21
3               2752        Diego Mainz  ...   19    21
4               2768        Jose Dorado  ...   19    21
...              ...                ...  ...  ...   ...
11056         743720     Charles Pickel  ...   19    21
11057         744907        Greg Taylor  ...   19    21
11058         746419   Francisco Afonso  ...   19    21
11059         748432     Fynn Arkenberg  ...   19    21
11060         750435     Rees Greenwood  ...   19    21

[11061 rows x 8 columns]

       player_api_id        player_name  ... age2  age3
0                 -2           ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©2Âè∑  ...   19    21
1                 -1           ÂèØÊÄúÁöÑÂßÜÂ∑¥‰Ω©1Âè∑  ...   19    21
2               2625  Patryk Rachwal,18  ...   19    21
3               2752        Diego Mainz  ...   19    21
4               2768        Jose Dorado  ...   19    21
...              ...                ...  ...  ...   ...
11056         743720     Charles Pickel  ...   19    21
11057         744907        Greg Taylor  ...   19    21
11058         746419   Francisco Afonso  ...   19    21
11059         748432     Fynn Arkenberg  ...   19    21
11060         750435     Rees Greenwood  ...   19    21

[11061 rows x 8 columns]

In [65]:
#‰ΩøÁî®assignÔºàÂàóÂêç=ÂàóÂÜÖÂÆπÔºå.....Ôºâ
df=pd.read_csv('player.csv')
df['age']=20
df=df.assign(age=18,age2=df.age+1)#ÊúâÂàô‰øÆÊîπÊó†ÂàôÊ∑ªÂä†ÔºàÂêåÊó∂Ê∑ªÂä†ÂàóÊó∂Ôºå‰∏çËÉΩÂú®ÈáåËæπ‰ΩøÁî®ÂàóÔºâ
df

       player_api_id          player_name  ... age  age2
0             505942   Aaron Appindangoye  ...  18    21
1             155782      Aaron Cresswell  ...  18    21
2             162549          Aaron Doran  ...  18    21
3              30572        Aaron Galindo  ...  18    21
4              23780         Aaron Hughes  ...  18    21
...              ...                  ...  ...  ..   ...
11055          26357       Zoumana Camara  ...  18    21
11056         111182         Zsolt Laczko  ...  18    21
11057          36491            Zsolt Low  ...  18    21
11058          35506  Zurab Khizanishvili  ...  18    21
11059          39902   Zvjezdan Misimovic  ...  18    21

[11060 rows x 7 columns]